<%- include("../include/header.ejs") %> <%- include("../include/nav.ejs") %>

<main class="page__not_found">
  <h1><i class="fa-solid fa-triangle-exclamation"></i> 500 Error</h1>
  <h3 class="error error__msg">
    <i class="fa-solid fa-circle-info"></i>  <%= errorMsg %>
  </h3>
</main>

<%- include("../include/footer.ejs") %>